nav li {
	list-style-type: none;
	display: inline-block;
	padding: 20px, 30px;
	height: 40px;
	width: 80px;
	background: orange;
	margin: 30px;

}

body {
	background-image: url(images/shapka.png) ;
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: fixed;
	background-size: 550px;
}
h1 {
	text-align: center;
}

#avtor {
	text-decoration: none;
	color: red;
}

#knopka {
	border: 1px solid; 
    display: inline-block;
    padding: 5px 15px; 
    text-decoration: none; 
    color: black;
}